.mh__bgModel {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;
  cursor: pointer;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
}

.mh__model {
  height: 100%;
  @include flex(center, center);
  .form {
    width: 450px;

    @media (max-width: 550px) {
      width: 350px;
    }
    @media (max-width: 450px) {
      width: 280px;
    }

    form {
      input {
        &:nth-child(1),
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}
