/**
* this file containers helper classes, that helo achive certian style 
*/

// Common Containers
.section {
  padding: 0 3.125rem;

  @media (max-width: 700px) {
    padding: 0 20px;
  }
}
.container {
  max-width: 82rem;
  margin: 0 auto;
}

// content conrainers
.csection {
  padding: 0 100px;
  @media (max-width: 700px) {
    padding: 0 40px;
  }
  @media (max-width: 390px) {
    padding: 0 20px;
  }
}

.ccontainer {
  max-width: 1186px;
  margin: 0 auto;
}

// social icons
.mh__scIcons {
  @include flex(space-between, center);
  a {
    margin-right: 8px;
  }
}

// qari over flowga marku mobile menuga furanyahy
.overflow-hidden {
  overflow: hidden;
}

// menuga marku active yhay
.active {
  li {
    color: $secondary-orange !important;
    &::after {
      content: '';
      bottom: -40%;
      left: 0%;
      width: 100% !important;
      height: 2px;
      position: absolute;
      @media (max-width: 950px) {
        bottom: 0%;
      }

      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      background-color: $secondary-orange;
    }
  }
}

.dark {
  background-color: $primary-dark;
  padding-bottom: 20px;
}

// filter active
.filter-active {
  background-color: $secondary-orange !important;
  color: $primary-dark !important;
  transition: all 0.3s ease-in-out;
}

.bg-dark {
  background: linear-gradient(180deg, $primary-dark 0%, $primary-body 100%);
}

.bg-dark-reverse {
  background: linear-gradient(180deg, $primary-body 0%, $primary-dark 100%);
}
