.about-bg {
  padding-top: 100px;
  background: linear-gradient(180deg, $primary-dark 0%, $primary-body 100%);
}

.mh__about {
  width: 100%;
  margin-top: 25px;

  @include flex(space-between, flex-start, column);
}

// what i do / Services
.mh__about--service {
  width: 100%;
  gap: 25px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));
  grid-template-rows: auto;

  &__list {
    min-width: 249px;
    padding: 25px 21px;
    opacity: 0;

    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;

    background: linear-gradient(
      118.13deg,
      $primary-soft -9.55%,
      rgba(45, 48, 54, 0) 106.05%
    );

    &:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }

    h2 {
      line-height: 150%;
      @include raleway-font(18px, 600, $white-color);

      span {
        color: $secondary-orange;
      }
    }

    p {
      line-height: 150%;
      margin-top: 15px;

      margin-bottom: 10px;
      @include roboto-font(18px, 400, $light-white);
    }
  }
}

// about me section
.mh__about--me {
  width: 100%;
  margin-top: 100px;

  &__info {
    margin-top: 25px;
    @include flex(space-between, center);

    @media (max-width: 700px) {
      flex-direction: column;
    }

    p {
      width: 48%;
      line-height: 180%;

      text-align: justify;
      @include roboto-font(18px, 400, $light-white);

      @media (max-width: 700px) {
        width: 100%;
      }

      span {
        color: $secondary-orange;
      }
    }

    .icons {
      width: 48%;
      gap: 20px;

      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
      grid-template-rows: auto;

      @media (max-width: 890px) {
        gap: 10px;
      }

      @media (max-width: 700px) {
        margin-top: 25px;
        width: 100%;
      }
    }
  }
}
